-- MariaDB dump 10.19  Distrib 10.4.27-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: moiz_care_pegawai
-- ------------------------------------------------------
-- Server version	10.4.27-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `attendance`
--

DROP TABLE IF EXISTS `attendance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attendance` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `date` date NOT NULL,
  `clock_in` time DEFAULT NULL,
  `clock_out` time DEFAULT NULL,
  `status` enum('present','late','absent','leave') NOT NULL DEFAULT 'present',
  `notes` text DEFAULT NULL,
  `location_lat` varchar(50) DEFAULT NULL,
  `location_long` varchar(50) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `photo_in` varchar(255) DEFAULT NULL,
  `photo_out` varchar(255) DEFAULT NULL,
  `location_lat_in` decimal(10,8) DEFAULT NULL,
  `location_long_in` decimal(11,8) DEFAULT NULL,
  `location_lat_out` decimal(10,8) DEFAULT NULL,
  `location_long_out` decimal(11,8) DEFAULT NULL,
  `distance_meters_in` int(11) DEFAULT NULL,
  `distance_meters_out` int(11) DEFAULT NULL,
  `shift_id` int(11) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `fk_attendance_shift` (`shift_id`),
  CONSTRAINT `attendance_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_attendance_shift` FOREIGN KEY (`shift_id`) REFERENCES `master_shifts` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `attendance`
--

LOCK TABLES `attendance` WRITE;
/*!40000 ALTER TABLE `attendance` DISABLE KEYS */;
INSERT INTO `attendance` VALUES (5,1,'2026-01-25','14:44:24',NULL,'late',NULL,NULL,NULL,'2026-01-25 14:44:24','uploads/attendance/attendance_in_1769327064.jpg',NULL,0.43126500,101.41103400,NULL,NULL,296,NULL,7);
/*!40000 ALTER TABLE `attendance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_types`
--

DROP TABLE IF EXISTS `document_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `document_types` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL COMMENT 'Nama Jenis Dokumen',
  `category` varchar(50) DEFAULT NULL COMMENT 'Kategori (Pribadi, Kepegawaian, Sertifikasi, dll)',
  `has_expiry` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Apakah dokumen ini punya masa berlaku?',
  `is_mandatory` tinyint(1) DEFAULT 0 COMMENT 'Apakah dokumen ini wajib untuk akreditasi?',
  `applicable_to` varchar(50) DEFAULT 'all' COMMENT 'all, non-medical, medical, doctor',
  `sort_order` int(11) DEFAULT 0 COMMENT 'Urutan tampilan',
  `description` text DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_types`
--

LOCK TABLES `document_types` WRITE;
/*!40000 ALTER TABLE `document_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `email_settings`
--

DROP TABLE IF EXISTS `email_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `email_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `protocol` varchar(50) DEFAULT 'smtp',
  `smtp_host` varchar(255) DEFAULT 'ssl://smtp.gmail.com',
  `smtp_user` varchar(255) DEFAULT 'example@gmail.com',
  `smtp_pass` varchar(255) DEFAULT 'your_app_password',
  `smtp_port` int(11) DEFAULT 465,
  `smtp_crypto` varchar(20) DEFAULT 'ssl',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf32 COLLATE=utf32_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `email_settings`
--

LOCK TABLES `email_settings` WRITE;
/*!40000 ALTER TABLE `email_settings` DISABLE KEYS */;
INSERT INTO `email_settings` VALUES (1,'smtp','smtp.gmail.com','moizclient30@gmail.com','ucvm bnvl nccn arrq',587,'tls');
/*!40000 ALTER TABLE `email_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_documents`
--

DROP TABLE IF EXISTS `employee_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_documents` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `document_type_id` int(11) unsigned NOT NULL COMMENT 'FK to document_types',
  `is_supporting` tinyint(1) DEFAULT 0 COMMENT '0 = Berkas Wajib, 1 = Berkas Pendukung',
  `file_path` varchar(255) NOT NULL COMMENT 'Path file dokumen',
  `document_number` varchar(100) DEFAULT NULL COMMENT 'Nomor Dokumen',
  `issue_date` date DEFAULT NULL COMMENT 'Tanggal Terbit',
  `expiry_date` date DEFAULT NULL COMMENT 'Tanggal Expired',
  `issuer` varchar(200) DEFAULT NULL COMMENT 'Penyelenggara/Penerbit',
  `notes` text DEFAULT NULL COMMENT 'Catatan',
  `uploaded_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `document_type_id` (`document_type_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_documents`
--

LOCK TABLES `employee_documents` WRITE;
/*!40000 ALTER TABLE `employee_documents` DISABLE KEYS */;
INSERT INTO `employee_documents` VALUES (2,2,1,0,'uploads/documents/3a3e1e64396f9c39bfa3cf38c0e413b8.jpg',NULL,NULL,NULL,NULL,NULL,'2026-01-24 18:57:08','2026-01-24 18:57:08'),(3,2,2,0,'uploads/documents/8371c9563b1443cc51dcb33d37d39df4.jpg',NULL,NULL,NULL,NULL,NULL,'2026-01-24 18:57:20','2026-01-24 18:57:20'),(4,2,19,1,'uploads/documents/236781b85906cdbb7522bb6fa9255351.pdf','001210211','2026-01-01','2026-01-25','Disdukcapil','','2026-01-24 18:57:54','2026-01-24 18:57:54');
/*!40000 ALTER TABLE `employee_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_families`
--

DROP TABLE IF EXISTS `employee_families`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_families` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `name` varchar(150) NOT NULL,
  `relation` enum('spouse','child','father','mother','sibling') NOT NULL DEFAULT 'child',
  `gender` enum('L','P') NOT NULL DEFAULT 'L',
  `date_of_birth` date DEFAULT NULL,
  `education` varchar(50) DEFAULT NULL,
  `job` varchar(100) DEFAULT NULL,
  `is_dependent` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `employee_families_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_families`
--

LOCK TABLES `employee_families` WRITE;
/*!40000 ALTER TABLE `employee_families` DISABLE KEYS */;
INSERT INTO `employee_families` VALUES (1,2,'Igasari','spouse','P','2026-01-24','D4 Radiologi','Radiografer',1,'2026-01-24 17:34:36'),(2,2,'Khayyara Anindya Ahmad','child','P','2020-11-22','','Pelajar',1,'2026-01-24 17:35:10'),(3,3,'Tohar graciaz','spouse','L','2026-01-01','S1-Sistem Informasi','IT',0,'2026-01-25 05:47:55');
/*!40000 ALTER TABLE `employee_families` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_payroll_components`
--

DROP TABLE IF EXISTS `employee_payroll_components`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_payroll_components` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `component_id` int(11) unsigned DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `type` enum('allowance','deduction') DEFAULT NULL,
  `calculation_basis` varchar(50) DEFAULT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `component_id` (`component_id`),
  CONSTRAINT `employee_payroll_components_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `employee_payroll_components_ibfk_2` FOREIGN KEY (`component_id`) REFERENCES `master_payroll_components` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_payroll_components`
--

LOCK TABLES `employee_payroll_components` WRITE;
/*!40000 ALTER TABLE `employee_payroll_components` DISABLE KEYS */;
INSERT INTO `employee_payroll_components` VALUES (10,9,1,NULL,NULL,NULL,50000.00,'2026-02-28 16:04:55'),(11,9,2,NULL,NULL,NULL,2500000.00,'2026-02-28 16:04:55'),(17,2,1,NULL,NULL,NULL,20000.00,'2026-03-01 15:10:35'),(18,2,2,NULL,NULL,NULL,50000.00,'2026-03-01 15:10:35'),(19,2,4,NULL,NULL,NULL,50000.00,'2026-03-01 15:10:35'),(20,2,NULL,'Tunjangan Kineja','allowance','fixed_monthly',2500000.00,'2026-03-01 15:10:35'),(21,2,NULL,'Tunjangan Jabatan','allowance','fixed_monthly',1500000.00,'2026-03-01 15:10:35');
/*!40000 ALTER TABLE `employee_payroll_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_weekly_shifts`
--

DROP TABLE IF EXISTS `employee_weekly_shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_weekly_shifts` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `day_of_week` enum('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday') NOT NULL,
  `shift_id` int(11) unsigned NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `shift_id` (`shift_id`),
  CONSTRAINT `employee_weekly_shifts_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employee_weekly_shifts_ibfk_2` FOREIGN KEY (`shift_id`) REFERENCES `master_shifts` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_weekly_shifts`
--

LOCK TABLES `employee_weekly_shifts` WRITE;
/*!40000 ALTER TABLE `employee_weekly_shifts` DISABLE KEYS */;
INSERT INTO `employee_weekly_shifts` VALUES (17,2,'Monday',4,'2026-01-25 07:48:50'),(18,2,'Tuesday',4,'2026-01-25 07:48:50'),(19,2,'Wednesday',4,'2026-01-25 07:48:50'),(20,2,'Thursday',4,'2026-01-25 07:48:50'),(21,2,'Friday',4,'2026-01-25 07:48:50'),(22,2,'Saturday',4,'2026-01-25 07:48:50');
/*!40000 ALTER TABLE `employee_weekly_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(11) unsigned DEFAULT NULL,
  `nip` varchar(50) NOT NULL,
  `nik` varchar(20) DEFAULT NULL,
  `full_name` varchar(150) NOT NULL,
  `place_of_birth` varchar(100) DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `gender` enum('L','P') DEFAULT NULL,
  `religion` varchar(20) DEFAULT NULL,
  `marital_status` enum('single','married','widow','widower') DEFAULT 'single',
  `address_ktp` text DEFAULT NULL,
  `address_domicile` text DEFAULT NULL,
  `mothers_name` varchar(150) DEFAULT NULL,
  `birth_place` varchar(100) DEFAULT NULL,
  `birth_date` date DEFAULT NULL,
  `address` text DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `npwp` varchar(30) DEFAULT NULL,
  `bpjs_kesehatan` varchar(30) DEFAULT NULL,
  `bpjs_ketenagakerjaan` varchar(30) DEFAULT NULL,
  `avatar_url` text DEFAULT NULL,
  `unit_id` int(11) unsigned DEFAULT NULL,
  `position_id` int(11) unsigned DEFAULT NULL,
  `status_employee` enum('permanent','contract','intern','probation','resigned','terminated') DEFAULT 'contract',
  `join_date` date DEFAULT NULL,
  `resign_date` date DEFAULT NULL,
  `resign_reason` text DEFAULT NULL,
  `no_str` varchar(50) DEFAULT NULL,
  `str_expiry` date DEFAULT NULL,
  `no_sip` varchar(50) DEFAULT NULL,
  `sip_expiry` date DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `basic_salary` decimal(15,2) DEFAULT 0.00,
  `bank_name` varchar(100) DEFAULT NULL,
  `bank_account` varchar(50) DEFAULT NULL,
  `bank_account_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nip` (`nip`),
  UNIQUE KEY `nik` (`nik`),
  KEY `user_id` (`user_id`),
  KEY `unit_id` (`unit_id`),
  KEY `position_id` (`position_id`),
  CONSTRAINT `employees_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `employees_ibfk_2` FOREIGN KEY (`unit_id`) REFERENCES `master_units` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `employees_ibfk_3` FOREIGN KEY (`position_id`) REFERENCES `master_positions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_quotas`
--

DROP TABLE IF EXISTS `leave_quotas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_quotas` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `leave_type_id` int(11) unsigned NOT NULL,
  `year` int(4) NOT NULL,
  `total_quota` int(11) NOT NULL,
  `used_quota` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `leave_type_id` (`leave_type_id`),
  CONSTRAINT `leave_quotas_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leave_quotas_ibfk_2` FOREIGN KEY (`leave_type_id`) REFERENCES `leave_types` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_quotas`
--

LOCK TABLES `leave_quotas` WRITE;
/*!40000 ALTER TABLE `leave_quotas` DISABLE KEYS */;
INSERT INTO `leave_quotas` VALUES (1,1,1,2026,2,0,'2026-01-25 15:24:57','2026-01-25 15:36:20'),(2,1,2,2026,2,0,'2026-01-25 15:36:29',NULL),(3,9,1,2026,10,0,'2026-01-25 16:21:17',NULL),(4,9,2,2026,10,4,'2026-01-25 16:21:26',NULL),(5,9,3,2026,1,0,'2026-01-25 16:21:31',NULL),(6,9,4,2026,10,0,'2026-01-25 16:21:34',NULL);
/*!40000 ALTER TABLE `leave_quotas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests`
--

DROP TABLE IF EXISTS `leave_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_requests` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `leave_type_id` int(11) unsigned NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `total_days` int(11) NOT NULL,
  `reason` text NOT NULL,
  `attachment` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved_karu','approved','rejected') NOT NULL DEFAULT 'pending',
  `karu_id` int(11) unsigned DEFAULT NULL,
  `hrd_id` int(11) unsigned DEFAULT NULL,
  `karu_note` text DEFAULT NULL,
  `hrd_note` text DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  KEY `leave_type_id` (`leave_type_id`),
  CONSTRAINT `leave_requests_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `leave_requests_ibfk_2` FOREIGN KEY (`leave_type_id`) REFERENCES `leave_types` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests`
--

LOCK TABLES `leave_requests` WRITE;
/*!40000 ALTER TABLE `leave_requests` DISABLE KEYS */;
INSERT INTO `leave_requests` VALUES (2,9,2,'2026-01-26','2026-01-29',4,'Saya Sakit Batuk Dan Demam Ya Pak Bos',NULL,'approved',15,1,'approval karna sakit','','2026-01-25 16:22:17',NULL);
/*!40000 ALTER TABLE `leave_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_types`
--

DROP TABLE IF EXISTS `leave_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_types` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `default_quota` int(11) NOT NULL DEFAULT 0,
  `needs_attachment` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_types`
--

LOCK TABLES `leave_types` WRITE;
/*!40000 ALTER TABLE `leave_types` DISABLE KEYS */;
INSERT INTO `leave_types` VALUES (1,'Cuti Tahunan',12,0,'2026-01-25 15:22:18'),(2,'Sakit (Dengan SKD)',0,1,'2026-01-25 15:22:18'),(3,'Cuti Melahirkan',90,1,'2026-01-25 15:22:18'),(4,'Izin Alasan Penting',0,0,'2026-01-25 15:22:18');
/*!40000 ALTER TABLE `leave_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_document_types`
--

DROP TABLE IF EXISTS `master_document_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_document_types` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_required` tinyint(1) NOT NULL DEFAULT 0,
  `category` enum('all','medical','non-medical') DEFAULT 'all',
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_document_types`
--

LOCK TABLES `master_document_types` WRITE;
/*!40000 ALTER TABLE `master_document_types` DISABLE KEYS */;
INSERT INTO `master_document_types` VALUES (7,'KTP',NULL,1,'all','2026-01-24 17:12:14'),(8,'Ijazah',NULL,1,'all','2026-01-24 17:12:25'),(9,'Surat Lamaran',NULL,1,'all','2026-01-24 17:12:41'),(10,'Sertifikat Kompetensi',NULL,0,'all','2026-01-24 17:13:18'),(11,'STR',NULL,1,'medical','2026-01-24 17:13:27'),(12,'Sertifikat Pelatihan',NULL,0,'all','2026-01-24 17:13:44');
/*!40000 ALTER TABLE `master_document_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_payroll_components`
--

DROP TABLE IF EXISTS `master_payroll_components`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_payroll_components` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `type` enum('allowance','deduction') NOT NULL,
  `calculation_basis` enum('fixed_monthly','per_attendance','per_late_day') NOT NULL DEFAULT 'fixed_monthly',
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_payroll_components`
--

LOCK TABLES `master_payroll_components` WRITE;
/*!40000 ALTER TABLE `master_payroll_components` DISABLE KEYS */;
INSERT INTO `master_payroll_components` VALUES (1,'Tunjangan Transportasi','allowance','per_attendance',20000.00,1,'2026-02-28 15:09:33'),(2,'Tunjangan Uang Makan','allowance','fixed_monthly',50000.00,1,'2026-02-28 15:09:33'),(3,'Potongan Keterlambatan','deduction','per_late_day',2000.00,1,'2026-02-28 15:09:33'),(4,'Bpjs Kesehatan 1 Anak','deduction','fixed_monthly',50000.00,1,'2026-02-28 15:12:51');
/*!40000 ALTER TABLE `master_payroll_components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_positions`
--

DROP TABLE IF EXISTS `master_positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_positions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `level` int(2) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_positions`
--

LOCK TABLES `master_positions` WRITE;
/*!40000 ALTER TABLE `master_positions` DISABLE KEYS */;
INSERT INTO `master_positions` VALUES (1,'Director Test',10,'2026-01-24 16:30:46'),(6,'Kepala IT',10,'2026-01-24 16:41:44'),(7,'Kepala Ruangan Radiologi',7,'2026-01-25 05:48:23');
/*!40000 ALTER TABLE `master_positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_shifts`
--

DROP TABLE IF EXISTS `master_shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_shifts` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `color` varchar(10) NOT NULL DEFAULT '#3b82f6',
  `description` text DEFAULT NULL,
  `status` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_shifts`
--

LOCK TABLES `master_shifts` WRITE;
/*!40000 ALTER TABLE `master_shifts` DISABLE KEYS */;
INSERT INTO `master_shifts` VALUES (4,'Pagi','07:30:00','16:00:00','#f7613b','',1,'2026-01-25 05:24:41','2026-01-25 05:26:21'),(5,'Pagi Manajemen','08:00:00','17:00:00','#f73bb2','',1,'2026-01-25 05:25:33','2026-01-25 05:26:29'),(6,'Midle','09:00:00','18:00:00','#b53bf7','',1,'2026-01-25 05:25:54','2026-01-25 05:26:35'),(7,'Siang','13:00:00','21:30:00','#3bf79f','',1,'2026-01-25 05:26:09','2026-01-25 05:26:41');
/*!40000 ALTER TABLE `master_shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_units`
--

DROP TABLE IF EXISTS `master_units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `master_units` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `type` enum('medical','non-medical') NOT NULL DEFAULT 'non-medical',
  `description` text DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_units`
--

LOCK TABLES `master_units` WRITE;
/*!40000 ALTER TABLE `master_units` DISABLE KEYS */;
INSERT INTO `master_units` VALUES (5,'IT Department Test','non-medical','','2026-01-24 16:30:46'),(6,'FARMASI','medical','Unit Farmasi','2026-01-24 16:42:19'),(8,'Radiologi','non-medical','','2026-01-24 16:55:10');
/*!40000 ALTER TABLE `master_units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `version` bigint(20) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (20260228154500);
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_periods`
--

DROP TABLE IF EXISTS `payroll_periods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll_periods` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `period_month` int(2) NOT NULL,
  `period_year` int(4) NOT NULL,
  `status` enum('draft','approved','paid') NOT NULL DEFAULT 'draft',
  `created_at` datetime NOT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_periods`
--

LOCK TABLES `payroll_periods` WRITE;
/*!40000 ALTER TABLE `payroll_periods` DISABLE KEYS */;
INSERT INTO `payroll_periods` VALUES (2,2,2026,'draft','2026-02-28 15:33:17','2026-03-01 15:16:28');
/*!40000 ALTER TABLE `payroll_periods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_slip_details`
--

DROP TABLE IF EXISTS `payroll_slip_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll_slip_details` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `slip_id` int(11) unsigned NOT NULL,
  `type` enum('allowance','deduction') NOT NULL,
  `description` varchar(255) NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_slip_details`
--

LOCK TABLES `payroll_slip_details` WRITE;
/*!40000 ALTER TABLE `payroll_slip_details` DISABLE KEYS */;
INSERT INTO `payroll_slip_details` VALUES (9,5,'allowance','Tunjangan Uang Makan',50000.00),(10,5,'deduction','Bpjs Kesehatan 1 Anak',50000.00),(13,7,'allowance','Tunjangan Uang Makan',50000.00),(14,7,'deduction','Bpjs Kesehatan 1 Anak',50000.00),(15,8,'allowance','Tunjangan Uang Makan',50000.00),(16,8,'deduction','Bpjs Kesehatan 1 Anak',50000.00),(17,9,'allowance','Tunjangan Uang Makan',50000.00),(18,9,'deduction','Bpjs Kesehatan 1 Anak',50000.00),(19,9,'allowance','Tunjangan Kineja',2500000.00),(20,9,'allowance','Tunjangan Jabatan',1500000.00);
/*!40000 ALTER TABLE `payroll_slip_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payroll_slips`
--

DROP TABLE IF EXISTS `payroll_slips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payroll_slips` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `period_id` int(11) unsigned NOT NULL,
  `employee_id` int(11) unsigned NOT NULL,
  `basic_salary` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_allowance` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total_deduction` decimal(15,2) NOT NULL DEFAULT 0.00,
  `net_salary` decimal(15,2) NOT NULL DEFAULT 0.00,
  `attendance_count` int(11) NOT NULL DEFAULT 0,
  `late_count` int(11) NOT NULL DEFAULT 0,
  `absent_count` int(11) NOT NULL DEFAULT 0,
  `status` enum('draft','paid') NOT NULL DEFAULT 'draft',
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payroll_slips`
--

LOCK TABLES `payroll_slips` WRITE;
/*!40000 ALTER TABLE `payroll_slips` DISABLE KEYS */;
INSERT INTO `payroll_slips` VALUES (5,2,1,3500000.00,50000.00,50000.00,3500000.00,0,0,0,'draft','2026-02-28 15:33:17'),(7,2,3,3500000.00,50000.00,50000.00,3500000.00,0,0,0,'draft','2026-02-28 15:33:17'),(8,2,9,3500000.00,50000.00,50000.00,3500000.00,0,0,0,'draft','2026-02-28 15:33:17'),(9,2,2,10000000.00,4050000.00,50000.00,14000000.00,0,0,0,'draft','2026-03-01 15:16:15');
/*!40000 ALTER TABLE `payroll_slips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_submission_details`
--

DROP TABLE IF EXISTS `schedule_submission_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_submission_details` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `submission_id` int(11) unsigned NOT NULL,
  `date` date NOT NULL,
  `shift_id` int(11) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `submission_id` (`submission_id`),
  KEY `shift_id` (`shift_id`),
  CONSTRAINT `schedule_submission_details_ibfk_1` FOREIGN KEY (`submission_id`) REFERENCES `schedule_submissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `schedule_submission_details_ibfk_2` FOREIGN KEY (`shift_id`) REFERENCES `master_shifts` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=115 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_submission_details`
--

LOCK TABLES `schedule_submission_details` WRITE;
/*!40000 ALTER TABLE `schedule_submission_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `schedule_submission_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule_submissions`
--

DROP TABLE IF EXISTS `schedule_submissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedule_submissions` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `approver_id` int(11) unsigned DEFAULT NULL,
  `period_month` int(2) NOT NULL,
  `period_year` int(4) NOT NULL,
  `status` enum('draft','pending','revision','approved') NOT NULL DEFAULT 'draft',
  `revision_note` text DEFAULT NULL,
  `submitted_at` datetime DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `schedule_submissions_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule_submissions`
--

LOCK TABLES `schedule_submissions` WRITE;
/*!40000 ALTER TABLE `schedule_submissions` DISABLE KEYS */;
INSERT INTO `schedule_submissions` VALUES (1,1,2,1,2026,'approved',NULL,'2026-01-25 08:29:31','2026-01-25 08:29:43','2026-01-25 07:01:54','2026-01-25 08:29:43');
/*!40000 ALTER TABLE `schedule_submissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedules`
--

DROP TABLE IF EXISTS `schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `schedules` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(11) unsigned NOT NULL,
  `shift_id` int(11) unsigned DEFAULT NULL,
  `date` date NOT NULL,
  `created_by` int(11) unsigned DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `shift_id` (`shift_id`),
  KEY `employee_id_date` (`employee_id`,`date`),
  CONSTRAINT `schedules_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE,
  CONSTRAINT `schedules_ibfk_2` FOREIGN KEY (`shift_id`) REFERENCES `master_shifts` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedules`
--

LOCK TABLES `schedules` WRITE;
/*!40000 ALTER TABLE `schedules` DISABLE KEYS */;
INSERT INTO `schedules` VALUES (1,3,4,'2026-01-01',1,'2026-01-25 18:05:11','2026-01-25 18:05:11');
/*!40000 ALTER TABLE `schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `company_name` varchar(255) NOT NULL,
  `company_logo` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `latitude` decimal(10,8) DEFAULT NULL,
  `longitude` decimal(11,8) DEFAULT NULL,
  `radius_meters` int(11) NOT NULL DEFAULT 100,
  `updated_at` datetime DEFAULT NULL,
  `hr_signature_name` varchar(100) DEFAULT 'Bpk. Moiz Azhar',
  `hr_signature_title` varchar(100) DEFAULT 'HRD & Finance Director',
  `header_color` varchar(50) DEFAULT '#ffffff',
  `sidebar_color` varchar(50) DEFAULT '#ffffff',
  `footer_color` varchar(50) DEFAULT '#f8f9fa',
  `menu_active_color` varchar(50) DEFAULT '#2563eb',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES (1,'Moiz Care Hospital','uploads/company/logo_1769324679.jpg','Jln. Rawa Bening Perum Villa Permata Bening Tahap 3\r\nBlok i No.4','085365811832','info@moizcare.com',0.43128700,101.40837210,500,'2026-03-01 17:46:09','H.Fahrudin, SE.MM','HRD & Finance Director','#ffffff','#881337','#fff1f2','#f43f5e');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','user','karu') NOT NULL DEFAULT 'user',
  `last_login` datetime DEFAULT NULL,
  `status` enum('active','inactive','pending','rejected') DEFAULT 'pending',
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'admin','$2y$10$bEnY5KXTTVcw2AZE/0AMceyN5BiWghnlPXUpG7nSr/IrTb9.9PgIi','admin',NULL,'active','2026-01-24 16:30:46'),(14,'103','$2y$10$wrtuMUcYLN8kP31UFe.JRu.bc8L42SXmoynWRtLnh3VJl5gMNdyH2','user',NULL,'active','2026-01-25 16:13:21'),(15,'101','$2y$10$cuevhFS1R6lcl18htpPEtO27NjJjYqVzBEwkORe.5D1/3jAenNzWW','karu',NULL,'active','2026-01-25 16:16:27');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-01 22:28:55
